.profile__editcard{
    background: black url("../../../images/edit.svg") no-repeat center;
    border: 1px solid white;
    margin-bottom: 8px;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    cursor: pointer;
    grid-area: edit;
}

.profile__editcard:hover {
    opacity: .7;
    transition: .3s;
}

@media screen and (max-width:550px) {
    .profile__editcard {
        width: 18px;
        height: 18px;
        margin-bottom: 8px;
    }
}
