.main {
  margin: 0 auto;
  max-width: 880px;
  min-width: 320px;
}

@media screen and (max-width:959px) {
  .main {
    margin: 0 2.3%;
  }
}

@media screen and (max-width:550px) {
  .main {
    margin: 0;
  }
}