.profile__container {
    grid-area: container;
    display: grid;
    gap: 8px 18px;
    grid-template-rows: min-content;
    grid-template-columns: max-content;
    grid-template-areas: "title edit" "subtitle subtitle";
}

@media screen and (max-width: 550px) {
    .profile__container {
        margin: 0 auto;
        gap: 5px 10px;
        grid-template-columns: minmax(235px, max-content) 37px;
    }
}