.profile__avatar {
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
    grid-area: avatar;
}

@media screen and (max-width: 550px) {
    .profile__avatar {
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
}

  